@font-face {
	font-family: MomcaThin;
	src: url("../assets/fonts/MomcaThin.otf") format("opentype");
}

@font-face {
	font-family: MomcaBold;
	src: url("../assets/fonts/MomcaBold.otf") format("opentype");
}