@font-face {
	font-family: MomcakeThin;
	src: url("../assets/fonts/MomcakeThin.otf") format("opentype");
}

@font-face {
	font-family: MomcakeBold;
	src: url("../assets/fonts/MomcakeBold.otf") format("opentype");
}