:root {
	--primary-text-color: white;
	--secondary-text-color: black;
	--primary-color: #F4EAD5;
	--secondary-color: #FFFBE9;

	--font-size-large: 3rem;
	--font-size-normal: 1.5rem;
	--font-size-small: 0.5rem;

	--wrong-answer: red;
}

.dark-theme {
	--primary-text-color: rgb(37, 37, 37);
	--secondary-text-color: rgb(202, 202, 202);
	--primary-color: #121212;
	--secondary-color: #2c2c2c;

}