.footer {
	position: fixed;
	bottom: 0;
	width: 100%;
	background: pink;
	display: flex;
	flex-direction: row;
}

.footer div {
	background: rgb(255, 168, 182);
}

.footer__input {

}

.footer__button