.quiz {
	width: 100vw;
	height: 100vh;
	display: flex;
	justify-content: center;
	align-items: center;
}

.quiz__container {
	width: 100%;
	height: 50%;
	max-width: 800px;
	transform: translateY(-25%);
	padding: 10px;
	border-radius: 10px;
	box-shadow: 0 0 10px 2px;
	position: relative;
	background-color: var(--secondary-color);
}

.quiz__question {
	height: 20%;
	width: 100%;
	background: red;
	text-align: center;
	color: var(--secondary-text-color);
}

.quiz__container--visible {
	display: none;
}

.quiz__answer-buttons {
	height: 55%;
	display: grid;
	justify-content: center;
	grid-template-columns: repeat(2, 50%);
	gap: 10px;
	margin: 20px 0;
}

.quiz__answer-button {
	background-color: var(--primary-color);
	border-radius: 8px;
  	border-width: 0;
	color: var(--secondary-text-color);
}

.quiz__answer-button.correct {
	background-color: green;
}

.quiz__answer-button.wrong {
	background-color: red;
}

.quiz__button {
	display: flex;
	justify-content: center;
	align-items: flex-end;
	margin-top: 5px;
}

.quiz__next-button {
	width: 100%;
	height: 15%;
	color: var(--secondary-text-color);
	background: green;
	position: absolute;
	bottom: 0%;
}

.quiz__start-button {
	background-color: var(--primary-color);
	border-radius: 8px;
  	border-width: 0;
	color: var(--secondary-text-color);
}