main {
	height: 100vh;
	display: grid;
	justify-content: center;
	background-color: var(--primary-color);
}

.slideshow__title {
	height: 100%;
	display: flex;
	justify-content: center;
	align-items: end;
}

.slideshow__title h1 {
	color: var(--secondary-text-color);
	font-size: 3rem;
}
.slideshow__container {
	width: 90vw;
	height: 70vh;
  	max-width: 1200px;
  	position: relative;
  	overflow: hidden;
	margin-top: 0;
}

@media screen and (max-width: 675px) {
	.slideshow__title h1 {
		margin-top: 20%;
		text-align: center;
		font-size: var(--font-size-normal);
	}
}

.slideshow__image {
	width: 100%;
	height: 100%;
  	max-width: 1200px;
  	position: absolute;
  	transition: all 0.5s;
} 

.slideshow__image img {
	width: 100%;
	height: 100%;
	object-fit: cover;
}

@media screen and (max-width: 600px) {
	.slideshow__image img {
		object-fit: contain;
	}
}

.slideshow__button-next,
.slideshow__button-previous {
	position: absolute;
	width: 40px;
	height: 40px;
	padding: 10px;
	border: solid 1px var(--primary-color);
	border-radius: 50%;
	z-index: 10px;
	cursor: pointer;
	background-color: #fff;
	font-size: 18px;
}

.slideshow__button-next:active, .slideshow__button-previous:active {
	transform: scale(1.2);
}

.slideshow__button-next {
	top: 45%;
	right: 2%;
}

.slideshow__button-previous {
	top: 45%;
	left: 2%;
}

.slideshow__button-arrowleft, .slideshow__button-arrowright {
	border: solid black;
	border-width: 0 3px 3px 0;
	display: inline-block;
	padding: 6px;
	transform: translateY(100%);
}

.slideshow__button-arrowleft {
	transform: rotate(135deg);
	-webkit-transform: rotate(135deg);
}

.slideshow__button-arrowright {
	transform: rotate(-45deg);
	-webkit-transform: rotate(-45deg);
}